.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

body {
    background-color: #eee;
}

/* header */
.header-menu-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 0px rgba(0,0,0,.1);
}

.link-logo {
    margin-top: 3px;
    vertical-align: top;
}

.input-title {
    max-width: 200px;
    margin-left: 200px;
    border: none;
    border-radius: 30px;
    background-color: #f1f1f1;
    font-size: 20px;
    text-align: center;
}

.input-title:focus {
    outline: none;
}

.warp-btn-menu {
    display: flex;
    align-items: center;
    gap:20px;
}

.btn-headmenu {
    padding: 0 15px 0 15px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    line-height: 30px;
    cursor: pointer;
}

.file {
    background-color: #409cdf;
    color: #fff;
    font-weight: bold;
}

.bi-palette-fill, .bi-grid-3x3, .bi-file-earmark-text-fill {
    color: rgb(58, 32, 32);
    font-size: 15px;
    margin-right: 5px;
    vertical-align: top;
}

.bi-file-earmark-text-fill {
    color: #fff;
}

/* 사이드 메뉴 */
main {
    margin-top: 2px;
}

.warp-side {
    display: flex;
}
.btn-search {
    background: none;
    border: none;
    cursor: pointer;
}
.side-btn-list {
    display: flex;
    flex-direction: column;
    gap:30px;
    width: 40px;
    height: 820px;
    padding: 40px 20px 0 20px;
    background-color: #E0E0E0;
}

.warp-search {
    position: relative;
    margin-bottom: 10px;
}

.btn-search {
    position: absolute;
    transform: translate(-30px, 5px);
}

.input-tag-search {
    max-width: 185px;
    height: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 5px;
    background-color: #F2F2F2;
    font-size: 20px;
    box-sizing: border-box;
}

.wrap-filter {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.btn-filter-tag {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.btn-tag-list, .btn-attribute {
    height: 40px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    cursor: pointer;
}

.bi-search {
    font-size: 15px;
}
.bi-code, .bi-three-dots {
    font-size: 20px;
}

.side-tag-list {
    width: 185px;
    height: 820px;
    padding: 40px 20px 0 20px;
    background-color: #fff;
    overflow: scroll;
}
.side-tag-list::-webkit-scrollbar {
    display: none;
}

.warp-tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.btn-tag-item, .warp-tag li{
    border: none;
    border-radius: 20px;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    box-shadow: 0px 3px 3px rgba(0,0,0,.2);
    text-align: center;
}

.board {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    position: relative;
    height: 860px;
    box-sizing: border-box;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    border: solid black;
    background-color: mistyrose;
    box-sizing: border-box;
}

.board-grid {
    position: absolute;
}

.line-column {
    position: absolute;
    border-left: 1px solid;
}

.line-row {
    position: absolute;
    border-top: 1px solid;
}